.wrapper {
  margin: 0 auto;
  text-align: center;
  width: 1000px;
}

.header {
  margin-bottom: 40px;
  margin-top: 100px;
  font-size: 40px;
}

.menu {
  display: flex;
}

.menuItem {
  flex: auto;
}

.menuItem:hover {
  background: radial-gradient(green ,white);
}

.menuItem a:link, .menuItem a:visited {
  text-decoration: none;
  color: inherit;
}
